@charset "utf-8";

/*fuentes-----------*/
@font-face {
    font-family: "Mabry Mono";
    src: url(fonts/MabryMonoPro-Regular.ttf), format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Mabry Mono Italic";
    src: url(fonts/MabryMonoPro-Italic.ttf), format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Mabry Mono Medium";
    src: url(fonts/MabryMonoPro-Medium.ttf), format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Mabry Mono Bold";
    src: url(fonts/MabryMonoPro-Bold.ttf), format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Mabry Mono Bold Italic";
    src: url(fonts/MabryMonoPro-BoldItalic.ttf), format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Mabry Mono Medium Italic";
    src: url(fonts/MabryMonoPro-MediumItalic.ttf), format("truetype");
    font-weight: medium;
    font-style: italic;
}

/*general y body-----------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Mabry Mono", sans-serif;
    background-color: #fcfed2;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #272620;
    line-height: 1.5rem;
    font-family: "Mabry Mono Medium";
}

/*titulos, parrafos e imagenes-----------*/
h1,
h2,
h3 {
    color: #272620;
    text-align: center;
}

h1 {
    font-family: "Mabry Mono Bold", sans-serif;
    font-size: 2rem;
    line-height: 3rem;
}

h2 {
    font-family: "Mabry Mono Medium", sans-serif;
    font-size: 1.5rem;
    line-height: 3.5rem;
}

h3 {
    font-family: "Mabry Mono Bold Italic", sans-serif;
    font-size: 1.6rem;
    line-height: 5rem;
}

p {
    text-wrap-style: balance;
    text-align: center;
    line-height: 1.5rem;
    max-width: 600px;
}

.redondeo {
    border-radius: 20px;
}

/*header, nav y footer -----------*/
header {
    display: flex;
    justify-content: center;
    padding: 28px;
    background-image: url(img/background.svg);
    background-repeat: repeat;
    background-size: auto;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1020px;
}

nav {
    display: flex;
    gap: 20px;
}

/* Botones y cajas */
.botonera a,
.caja {
    color: #272620;
    padding: 10px 20px;
    border: 1px solid #272620;
    border-radius: 30px;
}

.botonera a {
    background-color: #fcfed2;
}

.botonera a:hover {
    color: #fcfed2;
    background-color: #009485ff;
}

.botonera a:active {
    background-color: #535353;
    color: #fcfed2;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 20px 20px;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
}

/*divs y classes-----------*/

#aboutme,
#software {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

#aboutme article,
#trabajos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#aboutme h1 {
    padding-top: 40px;
}

#software ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#trabajos h2 {
    text-align: center;
    margin-bottom: 1em;
}

#trabajos .identidades {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    max-width: 700px;
    margin: 0 auto;
    justify-content: center;
}

#trabajos .identidades img {
    flex: 1 1 calc(33.333% - 1em);
    max-width: calc(33.333% - 1em);
    width: 100%;
    height: auto;
    border-radius: 12px;
    display: block;
}

.sociales {
    width: auto;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.sociales a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.sociales img {
    width: 30px;
    height: 30px;
    display: block;
}

/* efecto hover sobre la imagen */
.sociales a:hover img {
    transform: scale(1.05);
    transition: transform .18s ease-in-out;
}

.legal {
    margin: 0;
    text-align: right;
}