@charset "utf-8";

/*fuentes-----------*/

@font-face {
    font-family: "Mabry Pro";
    src: url(fonts/mabry-regular-pro.ttf), format("truetype");
    font-weight: normal;
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Mabry Pro";
    src: url(fonts/mabry-medium-pro.ttf), format("truetype");
    font-weight: medium;
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Mabry Pro";
    src: url(fonts/mabry-bold-pro.ttf), format("truetype");
    font-weight: bold;
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Mabry Mono";
    src: url(fonts/MabryMonoPro-Italic.ttf), format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Mabry Mono";
    src: url(fonts/MabryMonoPro-MediumItalic.ttf), format("truetype");
    font-weight: medium;
    font-style: italic;
}

/*colores-----------*/
:root {
    --beigewl: #FCFED2;
    --negrowl: #272620;
    --verdewl: #009485;
    --naranjawl: #FE8133;
    --griswl: #45443F;
}

/*general y body-----------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body,
html {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--beigewl);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--negrowl);
    line-height: 1.5rem;
    font-family: "Mabry Mono";
}


/*titulos, parrafos e imagenes-----------*/

h1 {
    font-family: "Mabry Pro";
    font-size: 40px;
    font-style: bold;
    font-weight: 700;
}

h2 {
    font-family: "Mabry Pro";
    font-size: 26px;
    font-style: medium;
    font-weight: 500;
}

p {
    font-family: "Mabry Pro";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.redondeo {
    border-radius: 20px;
}

/*header, nav y footer -----------*/

.headerWL {
    background-image: url(img/background.svg);
    background-repeat: repeat;
    background-size: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    width: 100%;
}

/* NAV con 3 elementos distribuidos con flex */
.nav-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

/* Botones y cajas */

.nav-header a,
.caja {
    color: var(--negrowl);
    padding: 10px 20px;
    border: 1px solid var(--negrowl);
    border-radius: 30px;
}

.nav-header a {
    background-color: var(--beigewl);
}

.nav-header a:hover {
    color: var(--beigewl);
    background-color: var(--negrowl);
}

.nav-header a:active {
    background-color: var(--griswl);
    color: var(--beigewl);
}

/*footer -----------*/

.footer-wl {
    padding: 15px;
}

.footer-contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
}

.footer-contenido p {
    text-align: right;
    font-family: "Mabry Mono";
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

/*divs y classes-----------*/

.contenido-intro {
    display: flex;
    justify-content: center;
    gap: 70px;
    padding-top: 30px;
}

.texto-intro {
    display: flex;
    width: 355px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.texto-intro img {
    border-radius: 30px;
}

.texto-intro h2 {
    color: var(--verdewl);
}

.gif1 {
    display: flex;
    align-items: center;
    gap: 60px;
    border-right: 2px solid var(--naranjawl);
    padding-right: 80px;
}

.gif1 img {
    border-radius: 30px;
}

.footer-redes {
    display: flex;
    gap: 16px;
}

.footer-redes a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.footer-redes img {
    width: 30px;
    height: 30px;
    display: block;
}

/* efecto hover sobre la imagen */
.footer-redes a:hover img {
    transform: scale(1.05);
    transition: transform .18s ease-in-out;
}

.footer-legal {
    margin: 0;
    text-align: right;
}

/*divs perfil-----------*/

.contenido-perfil {
    display: flex;
    width: 500px;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    padding-top: 30px;
    margin: auto;
}

.imgs-perfil {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    align-self: stretch;
}

.imgs-perfil img {
    border-radius: 30px;
}

.texto-perfil {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    align-self: stretch;
}

.texto-perfil p {
    font-family: "Mabry Pro";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--negrowl);
}

.texto-perfil h2 {
    font-family: "Mabry Pro";
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: var(--verdewl);
}

.software {
    display: flex;
    align-items: center;
    gap: 20px;
}

/*divs galeria trabajos-----------*/

.container {
    padding: 40px 0;
    margin: 0 auto;
    width: 1020px;
}

.gallery-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70vh;
}

.item {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: flex 0.8s ease;

    &:hover {
        flex: 7;
    }
}

.item-1 {
    background-image: url('https://i.ibb.co/Rkm15BF6/01.jpg');
}

.item-2 {
    background-image: url('https://i.ibb.co/ksdfnY94/02.jpg');
}

.item-3 {
    background-image: url('https://i.ibb.co/99MfpP3W/03.jpg');
}

.item-4 {
    background-image: url('https://i.ibb.co/LzQL12CV/04.jpg');
}

.item-5 {
    background-image: url('https://i.ibb.co/qLj1BgZZ/05.jpg');
}

/*divs formulario contacto-----------*/

.formulario-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    padding-top: 30px;
}

.formulario-contacto form aside {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.formulario-contacto form label {
    margin-bottom: 5px;
    color: var(--verdewl);
    font-family: "Mabry Pro";
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.formulario-contacto form input,
.formulario-contacto form textarea {
    padding: 10px;
    border: 2px solid var(--naranjawl);
    border-radius: 8px;
    font-size: 1rem;
    font-family: "Mabry Pro";
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.formulario-contacto form input:focus,
.formulario-contacto form textarea:focus {
    border-color: var(--naranjawl);
    outline: none;
}

.formulario-contacto form button {
    padding: 12px 20px;
    background-color: var(--naranjawl);
    color: var(--beigewl);
    border: none;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.formulario-contacto form button:hover {
    background-color: var(--naranjawl);
    transform: scale(1.05);
}

.formulario-contacto h1 {
    font-family: "Mabry Pro";
    font-size: 40px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    color: var(--negrowl);
}

/* media responsive -----------*/

@media (max-width: 850px) {
    header {
        flex-direction: column;
        gap: 10px;
        padding: 15px 10px;
    }

    nav {
        display: flex;
        width: 100%;
        justify-content: space-around;
        gap: 10px;
        padding: 0 10px;
    }

    nav a {
        padding: 10px 5px;
        font-size: 0.8rem;
        flex-grow: 1;
        text-align: center;
        margin: 0;
        max-width: 33%;
    }

    section {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding-top: 20px;
    }

    .texto-intro img {
        max-width: 90%;
        flex-basis: auto;
    }

    .gif1 {
        border-right: none;
        border-bottom: 2px solid var(--naranjawl);
        padding: 0;
    }

    .gif1 img {
        max-height: none;
        align-self: center;
        padding-bottom: 45px;
    }

    .texto-intro img {
        align-self: center;
        max-width: 50%;
    }

    .texto-intro {
        width: 90%;
        text-align: center;
        margin: 0 auto;
        padding: 0;
    }

    .texto-intro h1,
    h2 {
        width: 90%;
        text-align: center;
        margin: 0 auto;
        padding: 0;
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 40px;
        margin-top: 40px;
        flex-direction: column;
    }

    .footer-contenido {
        flex-direction: column;
        gap: 20px;
        text-align: center;
        align-items: center;
        width: 100%;
        max-width: 1020px;
    }

    .footer-redes {
        display: flex;
        gap: 15px;
        align-items: center;
    }

    .contenido-perfil {
        display: flex;
        width: 85%;
        flex-direction: column;
        align-items: center;
    }

    .imgs-perfil {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 28px;
        align-self: stretch;
    }

    .imgs-perfil img {
        width: 90%;
        flex-basis: auto;
        max-height: none;
    }

    .texto-perfil {
        width: 80%;
        text-align: center;
        margin: 0 auto;
        padding: 0;
    }

    .texto-perfil h2 {
        width: 90%;
        text-align: center;
        margin: 0 auto;
        padding: 0;
    }

    .formulario-contacto h1 {
        text-align: center;
    }
}